.app-header {
	height: 60px;
	line-height: 60px;
}

.app-header--title {
	font-size: 48px;
	font-family: sans-serif;
	padding-left: 5px;
	position: center;
}




thead {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}




.radio-elements {
	 margin: 10px;
}


.radio-elements label{
	display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-elements label:hover{
	background-color: #dfd;

}

.radio-toolbar input:focus + label {
    border: 2px dashed #444;
}

.radio-elements input:checked + label{
	background-color: #bfb;
    border-color: #4c4;
}